@import "./prism-material-dark.min.css";
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@layer base {
  .modal {
    @apply w-screen h-screen transition bg-primary-800/75 fixed top-0 left-0 z-50 flex items-center justify-center;
  }
}

.dc-cid-wrapper>.dc-colorway {
  width: 100%;
}

@utility contextmenu {
  @apply z-40 rounded-lg border border-primary-400/20 bg-primary-800 w-fit p-2 flex flex-col gap-2 justify-items-stretch mt-2 ml-[-.5rem] shadow-primary-400 fixed;
}

@utility contextmenu-item {
  @apply border border-transparent hover:border-primary-200/25 dark:hover:border-primary-400/25 gap-6 shrink-0 flex box-border px-4 py-2 min-h-[32px] cursor-pointer items-center justify-between min-w-max text-black/60 hover:text-black dark:text-white/60 hover:dark:text-white rounded-xl hover:bg-primary-100 dark:hover:bg-primary-600/50 transition-all;
}

@utility contextmenu-item-danger {
  @apply text-red-950 dark:text-red-300 hover:bg-red-100 dark:hover:bg-red-400/12;
}

@utility contextmenu-divider {
  @apply m-1 box-border border-b dark:border-primary-300 border-primary-700 shrink-0;
}

@utility contextmenu-label {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
  padding: 6px 8px;
  text-transform: uppercase;
  @apply shrink-0 select-none pt-1 pb-0 text-xs font-extrabold text-primary-700 dark:text-primary-200 w-full;
}

@utility contextmenu-sublabel {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
  padding: 6px 8px;
  text-transform: uppercase;
  @apply shrink-0 select-none pt-1 pb-0 text-xs font-extrabold text-primary-500 dark:text-primary-300 w-full;
}

@utility colorway-selector {
  grid-template-columns: repeat(2, calc(50% - (var(--spacing) * 0.25)));
  scrollbar-width: none !important;
  @apply gap-0.5 relative box-border overflow-x-hidden overflow-y-auto grid auto-rows-max w-full;
}

@utility colorway-pure {
  @apply box-border min-h-[56px] flex transition rounded-md px-4 py-2 justify-start gap-2 cursor-pointer bg-primary-800 border border-primary-400/20 text-primary-200 hover:bg-primary-700 items-center [[aria-checked="true"]]:bg-primary-200 [[aria-checked="true"]]:border-accent-500 dark:[[aria-checked="true"]]:bg-primary-800;
}

.dc-colorway {
  @apply colorway-pure last-of-type:odd:w-[calc(200%+0.125rem)] last-of-type:odd:rounded-b-2xl last-of-type:even:rounded-br-2xl nth-last-of-type-[2]:odd:rounded-bl-2xl first-of-type:last-of-type:rounded-2xl first-of-type:rounded-tl-2xl nth-of-type-[2]:rounded-tr-2xl first-of-type:nth-last-of-type-[2]:rounded-l-2xl last-of-type:nth-of-type-[2]:rounded-r-2xl;
}

.dc-label {
  margin-right: auto;
  margin-top: 0 !important;
  margin-left: 0.5rem;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;
}

.side-piece {
  @apply flex bg-primary-800 rounded-xl w-full lg:w-xs shrink-0 p-5 flex-col gap-2 lg:sticky lg:top-22 border border-primary-400/20;
}

.dc-note {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 8px;
  @apply text-primary-800 dark:text-primary-200;
}

.dc-color-swatch {
  @apply rounded-full box-border size-10 border-2 border-primary-300 shrink-0 overflow-hidden flex flex-row flex-wrap;
}

.dc-color-swatch-part {
  @apply size-[50%];
}

.dc-color-swatch:not(:has(> .dc-color-swatch-part:nth-child(2)))>.dc-color-swatch-part {
  @apply size-full;
}

.dc-color-swatch:not(:has(> .dc-color-swatch-part:nth-child(3)))>.dc-color-swatch-part {
  @apply h-full;
}

.dc-color-swatch:not(:has(> .dc-color-swatch-part:nth-child(4)))>.dc-color-swatch-part:nth-child(3) {
  @apply w-full;
}

.dc-subnote {
  overflow: hidden overlay;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 23px;
}

.dc-label-wrapper {
  @apply min-w-0 flex flex-col w-full
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@theme {
  --color-primary-50: #e7e9e9;
  --color-primary-100: #d2d5d5;
  --color-primary-200: #a3a8a8;
  --color-primary-300: #777e7e;
  --color-primary-400: #4a4f4f;
  --color-primary-500: #202222;
  --color-primary-600: #191a1a;
  --color-primary-700: #141515;
  --color-primary-800: #0c0d0d;
  --color-primary-900: #070808;
  --color-primary-950: #020303;
  --color-bg-secondary: #1c1e21;
  --color-tertiary-50: #ecedee;
  --color-tertiary-100: #dcdde0;
  --color-tertiary-200: #b8bbc1;
  --color-tertiary-300: #9599a3;
  --color-tertiary-400: #727883;
  --color-tertiary-500: #53575f;
  --color-tertiary-600: #323439;
  --color-tertiary-700: #141517;
  --color-tertiary-800: #0e0f10;
  --color-tertiary-900: #070708;
  --color-tertiary-950: #020203;
  --color-accent-50: #dbfffa;
  --color-accent-100: #b8fff4;
  --color-accent-200: #70ffea;
  --color-accent-300: #2effe0;
  --color-accent-400: #00e6c3;
  --color-accent-500: #009f88;
  --color-accent-600: #00806c;
  --color-accent-700: #006152;
  --color-accent-800: #003d34;
  --color-accent-900: #001f1a;
  --color-accent-950: #000f0d;
  --custom-modal-min-width-large: 800px;
  --animate-modal: show-modal 0.4s ease;
  --animate-ttb: animate-ttb 0.4s ease;
}

.dc-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dc-spinner-inner {
  transform: rotate(280deg);
  position: relative;
  display: inline-block;
  contain: paint;
  @apply size-12
}

@keyframes spinner-spinning-circle-rotate {
  100% {
      transform: rotate(1turn);
  }
}

@keyframes spinner-spinning-circle-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }

  50% {
      stroke-dasharray: 130, 200;
  }

  100% {
      stroke-dasharray: 130, 200;
      stroke-dashoffset: -124;
  }
}

.dc-spinner-svg {
  animation: spinner-spinning-circle-rotate 2s linear infinite;
  height: 100%;
  width: 100%;
}

.dc-spinner-beam {
  animation: spinner-spinning-circle-dash 2s ease-in-out infinite;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  fill: none;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke: currentcolor;
}

.dc-spinner-beam2 {
  stroke: currentcolor;
  opacity: 0.6;
  animation-delay: 0.15s;
}

.dc-spinner-beam3 {
  stroke: currentcolor;
  opacity: 0.3;
  animation-delay: 0.23s;
}

@keyframes show-modal {
  0% {
      transform: scale(0.7);
      opacity: 0;
  }

  75% {
      transform: scale(1.009);
      opacity: 1;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes animate-ttb {
  0% {
      transform: translateY(-20px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.dc-image-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 40px 184px 1fr 184px 40px;
  grid-gap: 12px;
  gap: 12px;
  margin: 36px 24px;
  @apply animate-modal
}

.image-modal-img {
  grid-row: 1/span 3;
  grid-column: 1/span 5;
  align-self: center;
  justify-self: center;
  place-self: center;
}

.dc-modal {
  @apply animate-modal min-w-[400px] relative min-h-0 pointer-events-auto bg-primary-500 shadow-2xl shadow-primary-800 transition m-0 p-0 text-white w-screen md:w-fit h-screen md:h-fit md:rounded-lg border-none md:border-solid md:border-1 flex flex-col md:border-primary-400
}

.dc-modal-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  padding-top: 26px;
  overflow: hidden auto;
  @apply mb-auto md:mb-0
}

.dc-modal-footer {
  @apply w-full p-2 flex flex-row-reverse gap-1
}

.dc-modal-header {
  margin: 0;
  font-weight: normal;
  font-size: 1.25em;
  padding: 16px;
}

.button {
  @apply rounded-md transition text-white cursor-pointer py-1 px-4 border border-transparent shadow-sm shadow-primary-800/20 flex gap-2 items-center justify-center;
}

.button-icon {
  @apply px-1
}

.button-accent {
  @apply bg-accent-500 border-accent-400/20 hover:bg-accent-600 active:bg-accent-700
}

.button-primary {
  @apply bg-primary-500 border-primary-400/20 hover:bg-primary-600 active:bg-primary-700
}

.react-colorful__last-control {
	border-radius: 0 0 var(--radius-sm) var(--radius-sm) !important;
}

.react-colorful__saturation {
	border-radius: var(--radius-sm) var(--radius-sm) 0 0 !important;
}

.hljs {
  @apply rounded-md !bg-primary-600
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.hljs,
.hljs-subst {
  color: #fff;
}

.hljs-comment {
  @apply text-primary-300
}

.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--color-blue-400, #3cc1f4);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--color-teal-400, #15ece2);
}

@view-transition {
  navigation: auto;
}

body::-webkit-scrollbar {
  width: 0;
}